################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Build/ZERO_CHECK.vcxproj.user
/Build/ZERO_CHECK.vcxproj.filters
/Build/ZERO_CHECK.vcxproj
/Build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/Build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
/Build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
/Build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
/Build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog
/Build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
/Build/x64/Debug/ZERO_CHECK
/Build/x64/Debug/ALL_BUILD/ALL_BUILD.vcxprojResolveAssemblyReference.cache
/Build/x64/Debug/ALL_BUILD
/Build/x64/Debug
/Build/VigenereProj.VC.VC.opendb
/Build/VigenereProj.VC.db
/Build/VigenereProj.sln
/Build/Vigenere/Vigenere.vcxproj.user
/Build/Vigenere/Vigenere.vcxproj.filters
/Build/Vigenere/Vigenere.vcxproj
/Build/Vigenere/Vigenere.sln
/Build/Vigenere/Vigenere.dir/Debug/Vigenere.tlog/Vigenere.lastbuildstate
/Build/Vigenere/Vigenere.dir/Debug/Vigenere.tlog/link.write.1.tlog
/Build/Vigenere/Vigenere.dir/Debug/Vigenere.tlog/link.read.1.tlog
/Build/Vigenere/Vigenere.dir/Debug/Vigenere.tlog/link.command.1.tlog
/Build/Vigenere/Vigenere.dir/Debug/Vigenere.tlog/custombuild.write.1.tlog
/Build/Vigenere/Vigenere.dir/Debug/Vigenere.tlog/custombuild.read.1.tlog
/Build/Vigenere/Vigenere.dir/Debug/Vigenere.tlog/custombuild.command.1.tlog
/Build/Vigenere/Vigenere.dir/Debug/Vigenere.tlog/CL.write.1.tlog
/Build/Vigenere/Vigenere.dir/Debug/Vigenere.tlog/CL.read.1.tlog
/Build/Vigenere/Vigenere.dir/Debug/Vigenere.tlog/CL.command.1.tlog
/Build/Vigenere/Vigenere.dir/Debug/Vigenere.tlog
/Build/Vigenere/Vigenere.dir/Debug/Vigenere.log
/Build/Vigenere/Vigenere.dir/Debug/vc140.pdb
/Build/Vigenere/Vigenere.dir/Debug/StringHelper.obj
/Build/Vigenere/Vigenere.dir/Debug/main.obj
/Build/Vigenere/Vigenere.dir/Debug/Encoder.obj
/Build/Vigenere/Vigenere.dir/Debug
/Build/Vigenere/Debug/Vigenere.pdb
/Build/Vigenere/Debug/Vigenere.exe
/Build/Vigenere/Debug/Resource/vtabla.dat
/Build/Vigenere/Debug/Resource
/Build/Vigenere/Debug/kodolt.dat
/Build/Vigenere/Debug
/Build/Vigenere/cmake_install.cmake
/Build/Vigenere/CMakeFiles/generate.stamp.depend
/Build/Vigenere/CMakeFiles/generate.stamp
/Build/Vigenere/CMakeFiles
/Build/Vigenere/ALL_BUILD.vcxproj.filters
/Build/Vigenere/ALL_BUILD.vcxproj
/Build/Vigenere
/Build/cmake_install.cmake
/Build/CMakeFiles/TargetDirectories.txt
/Build/CMakeFiles/generate.stamp.list
/Build/CMakeFiles/generate.stamp.depend
/Build/CMakeFiles/generate.stamp
/Build/CMakeFiles/feature_tests.cxx
/Build/CMakeFiles/feature_tests.bin
/Build/CMakeFiles/CMakeOutput.log
/Build/CMakeFiles/cmake.check_cache
/Build/CMakeFiles/b74691fb50b087b1df47d292ec3bf348/generate.stamp.rule
/Build/CMakeFiles/b74691fb50b087b1df47d292ec3bf348
/Build/CMakeFiles/3.6.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/Build/CMakeFiles/3.6.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/Build/CMakeFiles/3.6.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/Build/CMakeFiles/3.6.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/Build/CMakeFiles/3.6.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/Build/CMakeFiles/3.6.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/Build/CMakeFiles/3.6.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
/Build/CMakeFiles/3.6.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog
/Build/CMakeFiles/3.6.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
/Build/CMakeFiles/3.6.2/CompilerIdCXX/Debug
/Build/CMakeFiles/3.6.2/CompilerIdCXX/CompilerIdCXX.vcxproj
/Build/CMakeFiles/3.6.2/CompilerIdCXX/CompilerIdCXX.exe
/Build/CMakeFiles/3.6.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/Build/CMakeFiles/3.6.2/CompilerIdCXX
/Build/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/Build/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/Build/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/Build/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/Build/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/Build/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/Build/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
/Build/CMakeFiles/3.6.2/CompilerIdC/Debug/CompilerIdC.tlog
/Build/CMakeFiles/3.6.2/CompilerIdC/Debug/CMakeCCompilerId.obj
/Build/CMakeFiles/3.6.2/CompilerIdC/Debug
/Build/CMakeFiles/3.6.2/CompilerIdC/CompilerIdC.vcxproj
/Build/CMakeFiles/3.6.2/CompilerIdC/CompilerIdC.exe
/Build/CMakeFiles/3.6.2/CompilerIdC/CMakeCCompilerId.c
/Build/CMakeFiles/3.6.2/CompilerIdC
/Build/CMakeFiles/3.6.2/CMakeSystem.cmake
/Build/CMakeFiles/3.6.2/CMakeRCCompiler.cmake
/Build/CMakeFiles/3.6.2/CMakeDetermineCompilerABI_CXX.bin
/Build/CMakeFiles/3.6.2/CMakeDetermineCompilerABI_C.bin
/Build/CMakeFiles/3.6.2/CMakeCXXCompiler.cmake
/Build/CMakeFiles/3.6.2/CMakeCCompiler.cmake
/Build/CMakeFiles/3.6.2
/Build/CMakeFiles
/Build/CMakeCache.txt
/Build/ALL_BUILD.vcxproj.user
/Build/ALL_BUILD.vcxproj.filters
/Build/ALL_BUILD.vcxproj
/Build/.vs/VigenereProj/v14/.suo
/Build/.vs/VigenereProj/v14
/Build
